body {
    background-image : url(images/coffee_background.jpg);
    background-size : cover;
    background-repeat: no-repeat;
    color: blue;
    background-color: white;
    
}

p{
    background-color: white;
}

.current {
    color:green;
    font-weight: bold;
    background-color: black;
}

a:hover {
    color:red;
}

a:visited{
    color:black;
}
