body {
    background-color: black;
    color: blue;
}

a:hover{
    color: green;
}

a:active{
    color: black;
}

.hero-image{
    background-image: url("images/flashcardimg1.jpg");

}

#columns{
    /* add responsive design here */
}

@media (max-width: 600px){
    #columns {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (min-width: 600px){
    #columns {
        display: flex;
    }
}